<%- include('layouts/layout-top.ejs') %>
    <div class="content">
        <table align="center">
            <tr>
                <td align="center">
                    <img class="icon-failure"
                        src="https://res.cloudinary.com/olamileke/image/upload/v1664912624/backmeup/assets/email/marginalia-838_yzfkzf.png" />
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin: <% if (apiKey) { %> 15px 0 <% } else { %> 10px 0 <% } %>">
                        <p style="margin: 0 0 <% if (apiKey) { %> 16px <% } else { %> 10px <% } %> 0;">
                            Hi <%= resource.service.user.first_name %>. <% if (apiKey) { %> A backup for 
                            <%= resource.name %> (<%= resource.service.name %>)
                            was just attempted with an unrecognized API apiKey. <% } else { %>  An
                            unauthenticated backup request was just made for <%= resource.name %>
                            (<%= resource.service.name %>) <% } %>
                        </p>
                        <% if (apiKey) { %>
                            <p style="width: 100%; margin: 0 0 16px 0; line-height: 25px">
                                <%= apiKey %>
                            </p>
                        <% } %>
                        <p><%= timestamp %></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <button>Manage your backups</button>
                </td>
            </tr>
        </table>
    </div>
<%- include('layouts/layout-bottom.ejs') %>