<%- include('layouts/layout-top.ejs') %>
    <div class="content">
        <table align="center">
            <tr>
                <td align="center">
                    <img class="icon-failure"
                        src="https://res.cloudinary.com/olamileke/image/upload/v1673382319/dome/assets/duran/karlsson-x-sign-1_naviff.png" />
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin: 15px 0">
                        <p style="margin: 0 0 16px 0;">
                            Hi <%= resource.service.user.first_name %>. A backup for
                                <%= resource.name %> (<%= resource.service.name %>)
                                        was just attempted from an unauthorized IP address.
                        </p>
                        <p style="width: 100%; margin: 0 0 16px 0; line-height: 25px">
                            <%= ip %>
                        </p>
                        <p>
                            <%= timestamp %>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <a href="https://app.usedo.me/resources">
                        <button style="margin: 10px 0">Manage your resources</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <%- include('layouts/layout-bottom.ejs') %>