<%- include('layouts/layout-top.ejs') %>
    <div class="content">
        <table align="center">
            <tr>
                <td align="center">
                    <img class="icon-failure"
                        src="https://res.cloudinary.com/olamileke/image/upload/v1673382319/dome/assets/duran/karlsson-x-sign-1_naviff.png" />
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin: <% if (apiKey) { %> 15px 0 <% } else { %> 10px 0 <% } %>">
                        <p style="margin: 0 0 <% if (apiKey) { %> 16px <% } else { %> 10px <% } %> 0;">
                            Hi <%= resource.service.user.first_name %>. <% if (apiKey) { %> A backup for
                                    <%= resource.name %> (<%= resource.service.name %>)
                                            was just attempted with an unrecognized API apiKey. <% } else { %> An
                                                unauthenticated backup request was just made for <%= resource.name %>
                                                    (<%= resource.service.name %>) <% } %>
                        </p>
                        <% if (apiKey) { %>
                            <p style="width: 100%; margin: 0 0 16px 0; line-height: 25px">
                                <%= apiKey %>
                            </p>
                            <% } %>
                                <p>
                                    <%= timestamp %>
                                </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <a href="https://app.usedo.me/resources">
                        <button style="margin: 10px 0">Manage your backups</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <%- include('layouts/layout-bottom.ejs') %>